.container
  .row
    %h3 Users
    .column
      %table.table
        %tbody
          %th= t('activerecord.attributes.user.email')
          %th= t('activerecord.attributes.user.wp_author_id')
          %th= t('activerecord.attributes.user.wp_author_login')
          %th= t('activerecord.attributes.user.role')
          %th
          - @users.each do |user|
            %tr
              = render user
